# Database
DATABASE_TYPE=postgres
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=neuroagentes_test

# JWT
JWT_SECRET=test-jwt-secret
JWT_EXPIRATION=1h

# Application
PORT=3001
NODE_ENV=test

# API
API_PREFIX=api
API_VERSION=v1

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100
